:root {
    --color-dark-gray: hsl(0, 0%, 63%);
    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(0, 0%, 100%);
    --color-very-dark-gray: hsl(0, 0%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    line-height: 1.6;
}


header {
  position: absolute;
  width: 100%;
  padding: 20px;
  z-index: 10;
}

nav {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 20;
}

.menu-icon.active + .bar {
  z-index: 20;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
}

nav ul {
  display: none;
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  background-color: white;
  justify-content: flex-end;
  align-items: flex-end;
}

nav ul.show {
  display: flex;
  gap: 1rem;
}

nav ul li {
    margin: 2rem 0 0 0rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 24px;
}


/* Animated hamburger icon */
.menu-icon.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 6px);
  background-color: var(--color-dark-gray);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -6px);
    background-color: var(--color-dark-gray);
}




/* Hero Section Styles */
#hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-container {
    position: absolute;
    bottom: -4%;
    display: flex;
}

.slider-btn {
    transform: translateY(-50%);
    background: var(--color-black);
    color: var(--color-white);
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    z-index: 100;
}

.slider-btn:hover {
    background: var(--color-very-dark-gray);
}

.slider-btn.prev {
    left: 0;
}

.slider-btn.next {
    right: 0;
}

.hero-content {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 20px;
}

p{
    color: var(--color-dark-gray);
}

.hero-content a:hover {
    color: var(--color-dark-gray);
}

.cta {
    display: inline-flex;
    align-items: center;
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 20px;
}

.arrow {
    margin-left: 10px;
}

/* About Section Styles */
#about {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Media Queries */
@media (max-width: 1024px) {
    #hero {
        grid-template-columns: 1fr;
    }

    #hero #about {
        height: 100vh;
    }

    .btn-container {
        right: 0;
        bottom: -8%;
    }

    #about {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 375px) {
    header {
        padding: 10px;
    }

    nav ul {
        display: none;
    }

        #hero #about {
        height: 100vh;
    }

    .btn-container {
        bottom: -11%;
    }

    .hero-content, .about-content {
        padding: 3% 5%;
    }

    h1 {
        font-size: 2em;
    }
}

@media (min-width: 1025px) {
    .btn-container {
        position: absolute;
        right: -5%;
        right: -0%;
        bottom: -3%;
        z-index: 10;
    }
}

@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
    }

    nav ul li {
        margin: 0 0 0 20px;
    }

    nav ul li a {
        font-size: 16px;
        color: var(--color-white);
    }

    .logo {
        margin: 0;
    }
}